.flex {
  display: flex;
}

.field {
  min-width: 200px;
  min-height: 50px;
  margin: 10px;
}

button {
  height: 70px;
  width: 200px;
  outline: none;
  background: white;
  border: black solid 2px;
}

button:active {
  background: firebrick;
}